p {
    color: #000;
    /* c */

    margin: 0;  
    /* m */

    margin-top: 0;
    /* mt */

    margin-bottom: 0;
    /* mb */

    margin-right: 0;
    /* mr */

    margin-left: 0;
    /* ml */

}